RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /landsrooms/website/index.php?/$1 [L]

Header always edit Set-Cookie (.*) "$1; SameSite=None"